body{
    margin:0px;
    background-color: rgb(236, 40, 236);
}

#background {
  border: rosybrown;
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}